<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Flask Socket application</title>
  </head>
  <body>
    <h1>Please fill the form before you proceed!!</h1>
    <form class="" action="form" method="POST">
      <span>Enter your name here:
        <input type="text" name="uname" value="">
      </span>
      <span>Enter your response here:
        <input type="text" name="response" value="">
      </span>
      <button type="submit" name="button">Submit Response</button>
    </form>
  </body>
</html>
